@{
    ViewData["Title"] = "Página Inicial";
}

<div class="text-center">
    <h1 class="display-4">BEM-VINDO!</h1>
    <p>Seja Bem-Vindo ao nosso incrivel e maravilhoso SITE sobre o Inventario de nossas drogas,da Drogaria RIVOTRILL!</p>
    <p>Cadastre-se ou Log-se e Tenha Permissão, Para Analisar Todo o Conteúdo.</p>
</div>
